<header class="navbar navbar-expand-lg p-0">
    <div class="container-fluid header_container ">
        <p class="m-0">͓̽s͓̽a͓͓̽̽n͓͓̽̽d͓͓̽̽i͓̽s͓̽</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse navigation p-0" id="navbarNav">
            <ul class="navbar-nav ms-auto text-center main_list px-0">
                <li class="nav-item"><a class="nav-link" href="/products">Productos</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/users">Usuarios</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/profile">Perfil</a>
                </li>
            </ul>
        </nav>
        <div class="section_cart">
            <span></span>
            <a href="/carts/{{user.cartId}}" style="color: white;">
                <i class="fa-sharp fa-solid fa-cart-shopping" id="showCart"></i>
            </a>
        </div>
        <button onclick="logoutUser()" class="btn btn-dark">Cerrar sesión</button>
    </div>
</header>
<div>
    {{#if emptyCart}}
    <div class="empty-cart">
        <div>
            <div class="subtitle">
                Ups, su carrito se encuentra vacio.
            </div>
            <div class="buttons">
                <a class="btn btn-dark btn-home" href="/products">Ver productos</a>
            </div>
        </div>
    </div>
    {{else}}
    <h2>Carrito de compras</h2>
    <div class="container table-responsive pb-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Título</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this._id}}</td>
                    <td><img src={{this.thumbnails}} alt={{this.title}} width="50" /> </td>
                    <td>{{this.title}}</td>
                    <td>{{this.quantity}}</td>
                    <td>S/. {{this.price}}</td>
                    <td>S/. {{this.totalPrice}}</td>
                    <td class="text-center"><span title="Eliminar" style="cursor: pointer;"
                            onclick="deleteProduct('{{../user.cartId}}', '{{this._id}}')">❌</span></td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total a pagar:</b></td>
                    <td><b>S/. {{total}}</b></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-dark w-25" onclick="buy('{{user.cartId}}')">Pagar</button>
        </div>
    </div>
    {{/if}}
</div>
<script src="/js/cart.js"></script>
<script src="/js/auth.js"></script>