<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><p>Bienvenido <b>{{user.first_name}} {{user.last_name}}</b> || Rol: <b>{{user.role}}</b></p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:8080/products"><b>Productos</b></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:8080/users"><b>Usuarios</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/profile"><b>Perfil</b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="http://localhost:8080/carts/{{user.cartId}}"><b>Carrito</b></a>
            </li>
        </ul>
        <div>
            <button onclick="logoutUser()">Cerrar sesión</button>
        </div>
    </div>
</nav>
<div>
    <h2>Carrito de compras</h2>
    <div class="container table-responsive pb-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Título</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this._id}}</td>
                    <td><img src={{this.thumbnails}} alt={{this.title}} width="50" /> </td>
                    <td>{{this.title}}</td>
                    <td>{{this.quantity}}</td>
                    <td>S/. {{this.price}}</td>
                    <td>S/. {{this.totalPrice}}</td>
                    <td class="text-center"><span title="Eliminar" style="cursor: pointer;" onclick="deleteProduct('{{../user.cartId}}', '{{this._id}}')">❌</span></td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total a pagar:</b></td>
                    <td><b>S/. {{total}}</b></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-dark w-25" onclick="buy('{{user.cartId}}')">Pagar</button>
        </div>
    </div>
</div>
<script src="/js/cart.js"></script>
<script src="/js/auth.js"></script>