<div>
    <h2>Listado de Productos</h2>
    <div class="main_home">
        {{#each products}}
            <div class="product">
                <h3>{{this.title}}</h3>
                <p>Código: {{this.code}}</p>
                <p>Categoría: {{this.category}}</p>
                <p>Descripción: {{this.description}}</p>
                {{#if this.status}}
                    <p>Stock: {{this.stock}}</p>
                    <p class="price">Precio: S/. {{this.price}}</p>
                {{else}}
                    <p class="no_product">Producto no disponible</p>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>