{{#if success}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><p>Bienvenido <b>{{user.first_name}} {{user.last_name}}</b> || Rol: <b>{{user.role}}</b></p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:8080/products"><b>Productos</b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="http://localhost:8080/users"><b>Usuarios</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/profile"><b>Perfil</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/carts/{{user.cartId}}"><b>Carrito</b></a>
            </li>
        </ul>
        <div>
            <button onclick="logoutUser()">Cerrar sesión</button>
        </div>
    </div>
</nav>
<section style="padding: 2rem;">
    <h1 style="padding-bottom: 2rem;">Lista de usuarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre y Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Documentos</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{this.index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td style="max-width: 250px;">{{this.documents}}</td>
                <td>
                    <button type="button" class="btn btn-warning" onclick="changeRole('{{this._id}}');">Cambiar rol</button>
                    <button type="button" class="btn btn-danger" onclick="deleteUser('{{this._id}}');">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script src="/js/user.js"></script>
<script src="/js/auth.js"></script>
{{else}}
<h2>{{message}}</h2>
{{/if}}